/* Put your custom css here */
.borderwrap{border-bottom: 4px solid #322F31; border-top: 4px solid #322F31;}
.marginlefty{margin-left:15%;}
.newwidth{width: 74%;}
.numargin{margin-bottom: 4px;}
.topmargin{margin-top: 3%;}
.topmarginb{margin-top: 6%;}
.heightfix{min-height: 600px;}
.biggie{font-size: 28px; margin-top: 10%;}
.company-links{margin-bottom: 14px;}
.nav-border{border-bottom: 4px solid #1D1D1E;}
.rounded{border-radius: 4px;}
.boardbottom{border-bottom:1px solid #efefef; padding-bottom: 8%;}

/*Mobile Buttons and Logo*/
div.mainlogo.visible-xs.visible-sm{width:95%; margin: 0 auto; margin-bottom: 4%;}
.dp-mobile{width: 95%;}


/*Media Queries*/
.logo-a a.navbar-brand img.parklogo {width: 40%;}
.logo-b a.navbar-brand img.parklogo {width: 60%;}
.logo-c a.navbar-brand img.parklogo {width: 80%;}

.logo-a a.navbar-brand {width: 40%;}
.logo-a a.navbar-brand {width: 60%;}
.logo-a a.navbar-brand {width: 80%;}







